# introduction to python: loops to cleaning

## first expressions, some syntax

We begin with a common first expression. A "string" of text inside of a function that declares, "Hello world!"

In [ ]:
print('hello world!') # footnote: the print() function comes

A `string` is a type of data. Other types of data include `integer`, `float`, `list`, and `boolean`. 

With the `integer` type, for example, you can do arithmetic.

In [ ]:
1 + 1

In [ ]:
4 * 8

Each type of data is constrained to certain kinds of actions. With the `string` type, you can change text, like make a piece of text uppercase with `upper()`, or replace a bit of text with `replace()`.

In [ ]:
'hello world!'.upper()

In [ ]:
'hello world!'.replace('hello', 'goodbye')

Like in natural (human) language, syntax in programming languages depends on an relationship between subject and predicate. In the first example, the `print()` function, `print()` is the subject that takes a bit of data, a string like `hello world!`, into its parentheses. In this expression, `print()` is the main actor. 

In the second example, `hello world!` is the main actor, the subject, of the expression. The methods `upper()` and `replace()` are appended to the subject following a dot `.`, and these methods work like predicates on `hello world!`. Some predicates, like `replace()`, for example, themselves take more predicates, like replacement words. You can think of these methods like independent clauses within the whole. 

The relationship between subject and predicate, between functions, methods, and their objects, is complex and will only start to make sense with practice. For now, it suffices to know that the order of elements in an expression revels something about the underlying process about how transformations work on data.

## variables

In [ ]:
x = 5

Variabes are assigned with an equals sign. The variable name is on the left of the equals sign. The value assigned to the variable is on the right. In this way, variables are passive constructions.

In [ ]:
y = 7

In [ ]:
x

In [ ]:
x + y

Variables can be reassigned, which makes them somewhat slippery.

In [ ]:
x = 10

In [ ]:
x

White spaces don't matter in Python, unless within a "code block" (defined below).

In [ ]:
x=10

In [ ]:
x       =     7

In [ ]:
x

## abstraction
Abstraction is when you use a variable to do some kind of action or transformation, and set the results to another variable.

In [ ]:
c = x + y

In [ ]:
x = c

In [ ]:
c

In [ ]:
x

In [ ]:
x = 'hello'

## data types
Data types determine what you can and cannot do with data. Use the `type()` function to check the type of data you are working with.

In [ ]:
type('hello')

In [ ]:
type(1)

In [ ]:
type(True)

In [ ]:
breakfast = ['eggs', 'bagels', 'coffee', 'codfish', 'apple']

In [ ]:
breakfast

In [ ]:
type(breakfast)

In [ ]:
x

Specific types of data, like strings, have specific methods associated with them, which will not work on other types of data. For example `upper()` and `replace()` will only work on the string type of data, while `append()` will only work with lists.

In [ ]:
x.upper()

In [ ]:
x.replace('e', 'a')

In [ ]:
breakfast.append('yogurt')

In [ ]:
breakfast

The error message, especially the last line, is informative: here it indicates that we cannot use `replace()` with list type of objects.

In [ ]:
breakfast.replace('coffee', 'tea')

In [ ]:
breakfast.upper()

## loops

In [ ]:
for letter in 'hello':
  print(letter)
  print(letter.upper())

In [ ]:
name = []
for z in 'filipa':
  print(z.upper())
  name.append(z.upper())

In [ ]:
breakfast

In [ ]:
import requests
source = requests.get('https://bit.ly/transgender_text')
text = source.content

In [ ]:
text

In [ ]:
take_out = ['\n', '  ', '</pre>', '</body>', '&lt;all&gt;']

In [ ]:
for item in take_out:
  if item in text:
    text = text.replace(item, '')

In [ ]:
text